<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>title</th>
      <th>body</th>
      <th>author</th>
      <th>comments</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.user.email %></td>
        <td>
          <% post.comments.each do |comm| %>
            <%= comm.body %><br/>
            <%= comm.user.email %><br/>
          <% end %>
        </td>
        <td><%= link_to "comment", new_post_comment_path(post_id: post.id) %></td>
        <td><%= link_to "like(#{post.likes.count})", likes_path(like: { likable_id: post.id, likable_type: post.class }), method: "post" %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
